<div class="row-fluid"  style="background-color: #e6f4f3">
    <div class="row-fluid">
        <div class="response-details-label">
            <h4 class="header-template-delete-letter">
                Do you want to delete {{letterTemplateTitle}} ?
            </h4>
        </div>

    </div>
    <div class="row-fluid" style="background-color: #e6f4f3">
        <div class="response-popup-footer span12 button-align-confirm"  style="background-color: #e6f4f3">
            <div class="footer-right">
               
                <button class="btn btn-primary btn-color-style1 btn-popup btn-ok-immediate" ng-click="ok()">
                    Delete</button>
                <button class="btn btn-primary btn-color-style1 btn-popup btn-ok-immediate" ng-click="cancel()">
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
