<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="modal-header">
        <h4>Add/Edit Email</h4>
    </div>
    <div class="modal-body">
        <div class="modal-alerts">
                <alert ng-repeat="alert in validationMessages" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
        <div class="row-fluid">
            <div class="row-fluid">
                <span class="span2">Name</span>
                <span class="span10">
                    <input type="text" maxlength="50" name="email" ng-model="otherEmail.Name" style="width: 95%;" />
                </span>
            </div>
             <div class="row-fluid">
            <span class="span2">Email</span>
                 <span class="span10">
                     <input type="text" maxlength="50" name="email" ng-model="otherEmail.EmailAddress" style="width: 95%;" />
                 </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-info btn-color-style2 btn-popup" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary btn-color-style1 btn-popup" ng-click="ok()">OK</button>
    </div>
</body>
</html>
